// bulma
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

$control-border-width: 1px;
$input-border-color: $beige-light;
$input-shadow: none;

@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';

@import 'bulma/sass/grid/columns.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/elements/box.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/form.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/components/modal.sass';

@import 'bulma-o-steps/bulma-steps.sass';

.is-hollow {
  background-color: white;
}

.card {
  height: 150px;
}
